<div class="notewriter-actions">
  <div class="button-group">
    <button class="button" (click)="addPatient()">Add patient</button>
    <div class="dropdown">
      <button class="button has-dropdown-icon">Other</button>
      <div class="dropdown-body">
        <a class="dropdown-item" href="#">Some action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <span class="dropdown-item-sep"></span>
        <a class="dropdown-item" href="#">CSS dropdown without JS</a>
      </div>
    </div>
  </div>
</div>
